[Unit]
Description=Add DNS nameserver 8.8.8.8 and 8.8.4.4 using "connmanctl" utility
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/set_dns_nameserver.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
